/* Box.css */

.box {
  width: 100%; /* 왼쪽 공간 차지 */
  min-height: 100vh; /* 최소 높이 */
  background-color: #f8f9fa; /* 배경색 */
  padding: 20px; /* 내부 여백 */
  box-sizing: border-box; /* 내부 여백과 테두리를 포함한 요소 크기 설정 */
  position: relative; /* 위치 설정 */
}

/* 다크 모드 스타일 */
.dark-mode {
  background-color: #2B2B2B;
  color: #f8f9fa;
}
